button{
    width: 60px;
    height: 60px;

    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
     padding: 25px; 
}
.calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color:hsl(0,0%,15%) ;
    max-width: 350px;
    overflow: hidden;
    border-radius: 15px;
    height: 100%;
     margin:20px auto; 


}
body{
    margin: 0px;
    
}
button:hover{
    background-color:hsl(0,0%,40%) ;
}
.operator{
    background-color: hsl(35, 100%, 55%);
}
.operator:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator:active{
    background-color: hsl(35, 100%, 75%);
}
button:active{
    background-color:hsl(0,0%,50%) ;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}